#!/bin/sh

export ANSIBLE_USER="user"
# export ANSIBLE_BECOME_PASS="ssh_root_azerty"
export NAS_SSH_PORT="22"
export NAS_NEW_80_PORT="81"
export NAS_NEW_443_PORT="444"
export PUBKEY_FILE="/home/user/.ssh/id.pub"
